#app{
    font-size: 14px;
    font-family: Arial, sans-serif;
}

#container {
    width:60vw;
    margin: auto;
}

#topBar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#searchBar {
    flex: 1;
    background-color: var(--bg-main);
    color: var(--text-main);
    border-radius: 10px;
    padding: 14px 0;
    text-align: center;
    
}

#history {
    background-color: var(--bg-main);
    color: var(--text-sub);
    border-radius: 10px;
    padding: 25px;
    height: 320px;
}

#date {
    font-weight: bold;
    margin-bottom: 15px;
}

#history-list > li {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

